<head>
    <title>ScreenShoot!</title>
    {% load staticfiles %}

    <script src="{% static "screenza/js/jquery.min.js" %}"></script>

    <script src="{% static "screenza/js/screenza.js" %}"></script>
</head>
<body>
<div class="explain_div">
    <div style="float:left;">Сервис для быстрого обмена скриншотами.<br>
        Сделайте скриншот, а затем нажмите Ctrl+V<br>
        Либо нажмите правой кнопкой - "Вставить" в сером квадрате =>
    </div>
    <div id="paste_area" style="float:left; background-color: lightgrey; width: 100px; height: 100px" contenteditable="true"></div>
    <div style="clear:both"></div>
</div>
    <div id = "link_holder"></div>
    <div id = "main_holder"></div>
</body>